.invoice {
  height: 460px;
  width: 900px;
  border-radius: 6px;
  background-color: #fff;
  padding: 20px;
}

.title {
  font-size: 16px;
  color: #252B33;
  margin-bottom: 10px;
  i {
    float: right;
    cursor: pointer;
  }
}

.listTitle {
  width: 100%;
  span {
    display: inline-block;
    vertical-align: top;
    width: 12.5%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: #F5F5F5;
    color: #929CB0;
    font-size: 12px;
  }
}

.body {
  height: 350px;
  overflow-y: scroll;
}

.body::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

.body::-webkit-scrollbar-track {
  width: 2px;
  background-color: transparent;
}

.body::-webkit-scrollbar-thumb {
  width: 2px;
  border-radius: 1px;
  background-color: #6FA8E5;
}

.item {
  height: 40px;
  line-height: 40px;
  color: #252B33;
  font-size: 12px;
  span {
    display: inline-block;
    vertical-align: top;
    width: 12.5%;
    text-align: center;
  }
}

.item:nth-child(2n + 1) {
  background-color: #F5F5F5;
}